.footer {
  margin-top: 4rem;
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer ul {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer ul li {
  list-style-type: none;

  font-size: 1.4rem;
  color: var(--white-color);
}

.footer p {
  font-size: 1.4rem;
  color: var(--gray-color);
}
