.inputWrapper .input {
    width: 100%;
    background-color: #101010;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 1rem;
    padding: 1.8rem 2rem;
    font-size: 1.4rem;
    outline: 0 !important;
    color: var(--white-color);
}

.inputWrapper .input:focus {
    /* border: 1px solid red !important; */
}

.inputWrapper input::placeholder {
    color: rgba(255, 255, 255, 0.42);
}

.inputWrapper .label {
    font-size: 1.4rem !important;
    margin-bottom: 1rem;
    font-weight: 500;
}

.input {
    position: relative;
}

.input img {
    position: absolute;

    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 2rem;
}

.searchInput {
    color: var(--gray-color);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.searchInput::placeholder {
    font-family: Euclid, sans-serif;
    font-size: 1.4rem;
}

.option {
    cursor: pointer;
}

.option .input {
    position: relative;
}

.body {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0.5rem !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem 2rem;
    bottom: 0;
    transform: translateY(100%);

    max-height: 200px;
    overflow-y: scroll;
    z-index: 100;
}

/* Scrollbar */
.body::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.body::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.body::-webkit-scrollbar-thumb {
    background: white;
}

.dashboardLabel {
    font-size: 1.6rem !important;
}

.dashboardInput {
    font-size: 1.4rem !important;
    color: var(--gray-color) !important;
    padding: 1.6rem 2rem !important;
}
