.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.label {
  font-size: 1.4rem;
  opacity: 0.6;
}

.value {
  font-size: 2.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.percentage {
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.percentage img {
  width: 1.6rem;
}

.percentage > div:first-child {
  font-size: 1.4rem;
  opacity: 1 !important;
}

.positive {
  color: #16c172;
}

.negative {
  color: #f24236;
}

.percentageText {
  display: flex;
  gap: 0.3rem;
  padding-top: 3px;
}

.rest {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
