.button {
  color: var(--black-color);
  font-size: 1.6rem;
  border-radius: 1rem;
  width: max-content;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: -1px;
  display: block;
  transition: 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.button > a > div {
  display: flex;
  gap: 1rem;
  z-index: 2;
  position: relative;
  align-items: center;
}

.button div {
  padding: 1.4rem 3rem;
  width: 100%;
  text-align: center;
  font-weight: 400;
}

.button:hover .background {
  transform: translateY(100%);
  border-radius: 50%;
}

@media (max-width: 900px) {
  .button:hover .background {
    transform: translateY(0%);
    border-radius: 0%;
  }
}
