.button {
  color: var(--black-color);
  font-size: 1.6rem;
  border-radius: 1rem;
  width: max-content;
  cursor: pointer;
}

.button > a > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.button div {
  padding: 1.4rem 2.3rem;
  width: 100%;
  text-align: center;
}
