.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  position: relative;
  height: 7.5rem;
  display: flex;
  align-items: center;
}

.errormessagecontainer {
  background-color: #d7263d;
  border: 1px solid #d7263d;
  padding: 1rem;
  border-radius: 4px;
}

.messagecontainer {
  background-color: #20bf55;
  border: 1px solid #20bf55;
  padding: 1rem;
  border-radius: 4px;
}

.left {
  text-align: center;
}

.card {
  /* background-color: #101010; */
  border-radius: 25px;
  width: 100%;
  max-width: 53rem;
  padding: 5rem;
}

.login img {
  height: 3rem;
}

.login h3 {
  font-size: 3rem;
  margin-top: 2rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.remeberInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.remeberInfo > div {
  display: flex;

  gap: 1rem;
  align-items: center;
}

.checkBox {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  transform: translateY(0.2rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.checkBox img {
  height: 0.7rem;
}

.remeberInfo p {
  padding-top: 7px;
}

.buttonWrapper > div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card > div:last-child {
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login > div:last-child p {
  font-size: 1.2rem;
  color: var(--white-color);
}

.info p {
  font-size: 1.2rem !important;

  color: var(--gray-color) !important;
}

@media (max-width: 650px) {
  .login {
    margin: 0 2.5rem;
  }

  .card {
    padding: 2.5rem;
  }

  .login h3 {
    font-size: 2.2rem;
  }

  .info p {
    font-size: 1rem !important;
  }
}
