.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1.4rem;
  opacity: 0.6;
}

.value {
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.6;
  margin-bottom: 1.5rem;
}

.right {
  height: 12.5rem;
  padding-right: 10rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-bottom: 2px;
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }

  .legend {
    width: max-content;
  }
}
