.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.right {
  margin-top: 19rem;
}

.section br {
  display: none;
}

@media (max-width: 900px) {
  .body {
    grid-template-columns: 1fr;
  }

  .right {
    margin-top: 0px;
  }
}

@media (max-width: 650px) {
  .section br {
    display: initial;
  }
}
