.body {
	padding: 2rem 3rem 3rem 3rem;
}

.price, .stock {
	font-weight: 500;
    font-size: 1.8rem;
	display: flex;
	margin: 1rem 0;
}

.price span, .stock span {
	flex: 1 1;
}

.payInfo {
	border-radius: 0.5rem;
	margin-bottom: 2rem;
}