.container {
  background-color: #161616;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}
.logo {
  display: none;
}

.logo2 {
  height: 2.5rem;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.rightSide > div {
  height: 2.5rem;
}

.rightSide img {
  height: 2.5rem;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.rightSide img:hover {
  opacity: 0.6;
}

.profileImage {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.profileImage img {
  object-fit: cover;
  height: 100% !important;
  width: 100% !important;
}

.mobMenu {
  display: none;
}

.line {
  top: 50%;
  background-color: white;
  width: 25px;
  height: 1.5px;
  position: absolute;
  right: 0;
  transition: 0.2s ease-out;
  /* transform-origin: left; */
  transform-origin: center;
  cursor: pointer;
}

.lineButton {
  position: absolute;
  width: 50px;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  height: 40px;
}

.line:nth-child(1) {
  transform: translateY(-7.5px);
}

.line:nth-child(3) {
  transform: translateY(7.5px);
}

.openLine:nth-child(2) {
  width: 0px;
  right: 12.5px;
}

.openLine:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.openLine:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.sideWrapper {
  display: none;
  position: fixed;
  z-index: 10;
  transition: 0.5s ease-out;
}

@media (max-width: 900px) {
  .rightSide {
    gap: 0rem;
  }

  .rightSide > div {
    display: none;
  }

  .rightSide > div:nth-child(1),
  .rightSide > div:nth-child(3) {
    display: initial;
  }

  .rightSide > div:nth-child(3) {
    margin-right: 4rem;
    margin-left: 1.5rem;
  }

  .sideWrapper {
    display: initial;
  }

  .mobMenu {
    position: relative;
    display: initial !important;
    cursor: pointer;
    pointer-events: initial !important;

    /* background-color: red; */
    /* width: 25px;
    height: 50px; */
  }

  .logo {
    display: initial;
    height: 2rem;
  }

  .logo2 {
    display: none;
  }
}
