.card {
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 86px;
  left: 0;
  top: 80%;
  z-index: 1;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(59, 56, 65, 0) 22.4%,
    #0784b5 60.94%,
    rgba(59, 56, 65, 0)
  );
  transition: top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.4s linear;
  will-change: transform, opacity;
}

.card:hover::before {
  opacity: 1;
  top: 20%;
}

.horizontalCard {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding-left: 6rem;
  height: 54.4rem;
  margin-bottom: 4rem;
}

.horizontalCard > div {
  text-align: left;
  align-self: center;
}

.horizontalCard h3 {
  line-height: 105% !important;
  margin-bottom: 1rem;
}

.horizontalCard h3 br {
  display: none;
}

.horizontalImg {
  width: 52rem;
  align-self: center;
  transform: skewY(-5deg);
  transition: 0.5s ease-out;
}

.horizontalCard:hover img {
}

.cardRow {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}

.verticalCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 7.5rem;
}

.verticalCard:first-child .verticalImg {
  padding: 4.5rem 3.5rem 0 3.5rem;
  margin-bottom: 3.5rem;
}

.verticalCard .verticalImg {
  width: 100%;
}

.verticalCard h3 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.content {
  padding: 0 3.5rem;
}

.content > p {
  width: 35rem;
}

.button > div {
  border: 1px solid red;
  margin-top: 2rem;
  font-size: 1.4rem;
  width: max-content;
}

.button > div > a > div {
  padding: 1rem 2rem !important;
}

@media (max-width: 900px) {
  .horizontalCard {
    margin-bottom: 2rem;
    flex-direction: column;
    padding: 3rem 2rem 0 2rem;
    height: max-content;
    gap: 4rem;
  }

  .horizontalCard > div {
    text-align: left;
    align-self: flex-start;
  }

  .horizontalImg {
    width: 100%;
    transform: skew(0);
  }

  .description {
    font-size: 1.6rem;
  }

  .cardRow {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .verticalCard {
    padding: 0;
    padding-bottom: 2rem;
  }

  .verticalCard .verticalImg {
    order: 1;
  }

  .verticalCard:first-child .verticalImg {
    padding: 2rem;
    margin-bottom: 0;
  }

  .verticalCard .verticalImg {
    width: 100%;
  }

  .verticalCard h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .content {
    padding: 3rem 2rem 0 2rem !important;
    margin-bottom: 4rem;
  }

  .content > p {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .horizontalCard h3 br {
    display: initial;
  }
}
