.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  border: 5px solid rgba(255, 255, 255, 0);
}

.controls {
  position: absolute;
  bottom: 110px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 40px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

.zoom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 12px;
  border-top: 5px solid #101010;
  border-bottom: 5px solid #101010;
  background: #3f51b5;
  width: 100%;
}

.zoom-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zoom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.controls:hover input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  border-radius: 50%;
}

.controls:hover input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}

.modal-root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.modal-mask {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
}

.modal-wrap {
  position: fixed;
  inset: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
}

.modal {
  transform-origin: -291.667px 382px;
  margin: 0 auto;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  pointer-events: none;
  position: relative;
  top: 100px;
  width: auto;
  max-width: calc(100vw - 32px);
  padding-bottom: 24px;
  position: relative;
  background-color: #101010;
  border: 1px solid rgba(255, 255, 255, 0);
  outline: 0 !important;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  pointer-events: auto;
  padding: 20px 24px;
}

.modal-footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
}

.radio {
  display: flex;
  gap: 10px;
  font-size: 1.8rem;
  color: #c4c4c4;
}

.aspect-ratio-button-group {
  position: absolute;
  bottom: 70px;
  left: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.custom {
  display: flex;
  width: 200px;
  gap: 10px;
  align-items: center;
  color: #c4c4c4;
}

.custom input {
  background-color: transparent !important; 
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  height: 30px;
}