.logos {
  padding: 5.5rem 0;
  position: relative;

  width: 100vw;
  overflow: hidden;
}

.logos::before {
  background: linear-gradient(90deg, #090909, rgba(9, 9, 9, 0) 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  bottom: 0;
  width: 10rem;
  content: "";
  pointer-events: none;
}

.logos::after {
  z-index: 2;
  background: linear-gradient(-90deg, #090909, rgba(9, 9, 9, 0) 100%);
  position: absolute;
  right: 0;
  pointer-events: none;
  top: 0;
  bottom: 0;
  width: 10rem;
  content: "";
}

.logoImage {
  width: max-content;
}

.line1 {
  width: auto;
  transform: translate(0%);
  display: flex;
  align-items: center;
}

.line2 {
  position: absolute;
  width: auto;
  top: 0;
  bottom: 0;
  height: max-content;
  transform: translateX(-100%);

  margin: auto 0;

  display: flex;
  align-items: center;

  transition: 5s linear;
}

.logoImage img {
  height: 4rem;
  opacity: 0.26;
  margin: 0 5rem;
  transition: 0.2s ease-out;
}

.logoImage img:hover {
  opacity: 1;
}

.line:first-child {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
}

.line img {
  width: 100vw;
  height: 1px;
  object-fit: cover;
}

.line:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.messagecontainer {
  background-color: #ccffcc;
  color: green;
  border: 1px solid green;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .logoImage img {
    height: 3rem;

    margin: 0 5.25rem;
  }
}

@media (max-width: 900px) {
  .logoImage img:nth-child(5) {
    /* display: none; */
  }

  .logoImage img {
    margin: 0 4.2rem;
  }
}

@media (max-width: 800px) {
  .logoImage img:nth-child(5) {
    /* display: none; */
  }

  .logoImage img {
    margin: 0 3rem;
  }
}

@media (max-width: 700px) {
  .logoImage img:nth-child(5),
  .logoImage img:nth-child(2) {
    /* display: none; */
  }

  .logoImage img {
    margin: 0 3rem;
  }
}

@media (max-width: 650px) {
  .logoImage img:nth-child(5),
  .logoImage img:nth-child(2) {
    /* display: none; */
  }

  .logoImage img {
    height: 3rem;

    margin: 0 2rem;
  }
}

@media (max-width: 550px) {
  .logoImage img:nth-child(5),
  .logoImage img:nth-child(2),
  .logoImage img:nth-child(4) {
    /* display: none; */
  }

  .logoImage img {
    height: 3rem;

    margin: 0 3rem;
  }
}

@media (max-width: 400px) {
  .logoImage img {
    height: 2rem;

    margin: 0 3rem;
  }
}

/* MOVE */
