.footer {
  border-radius: 5rem 5rem 0 0;
  background-color: var(--black-color);
}

.top {
  display: flex;
  justify-content: space-between;

  padding-top: 4rem;
  padding-bottom: 4rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.content {
  gap: 4rem;
  position: relative;
  top: 3px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.top img {
  height: 3rem;
}

.content .label {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 1.5rem;
}

.footer ul li {
  list-style-type: none;
  font-size: 1.4rem;
  color: fff;
  transition: 0.25s ease-out;
}

.footer ul li:hover {
  opacity: 0.6;
}

.bottomList li {
  opacity: 0.6;
}

.bottomList li:hover {
  opacity: 1 !important;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.copyright p {
  font-size: 1.4rem;
  color: #fff;
  opacity: 0.6;
  font-weight: 500;
}

.footer .icons {
  margin-left: 2.5rem;
  display: flex;
  gap: 2rem;
}

.footer .icons img {
  height: 1.6rem;
}

@media (max-width: 900px) {
  .top {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .top img {
    width: auto !important;
  }

  .content {
    flex-direction: column;
  }

  .content .label {
    margin-bottom: 2rem;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
  }

  .footer .icons {
    margin-left: 0rem;
  }
}
