.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 10rem;
  align-items: center;
  height: 100vh;
  gap: 8rem;
}

.message {
  position: relative;
  height: 7.5rem;
  display: flex;
  align-items: center;
}

.errormessagecontainer {
  background-color: #d7263d;
  border: 1px solid #d7263d;
  padding: 1rem;
  border-radius: 4px;
}

.messagecontainer {
  background-color: #20bf55;
  border: 1px solid #20bf55;
  padding: 1rem;
  border-radius: 4px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.left h2 {
  font-size: 6rem;
}

.closeWrapper {
  position: absolute;
  top: 2rem;
  right: 10rem;
}

.closeWrapper > div > a > div {
  padding: 1rem 3rem;
}

.card {
  /* background-color: #101010; */
  border-radius: 25px;
  width: 100%;
  max-width: 53rem;
  padding: 5rem;
}

.login img {
  height: 3rem;
}

.left h2 {
  margin-bottom: 1rem;
}

.left p:nth-child(2) {
  font-size: 1.6rem;
  opacity: 0.8;
  max-width: 50rem;
  line-height: 140%;
  margin-bottom: 2rem;
}

.left p:nth-child(3) {
  font-size: 1.2rem;
  opacity: 0.42;
}

.left img {
  margin-bottom: 2.5rem;
  height: 3rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rememberInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
}

.rememberInfo > div {
  display: flex;

  gap: 1rem;
  align-items: center;
}

.right > p {
  font-size: 1.2rem;
  /* text-align: center; */
  opacity: 0.42;
  font-weight: 400;
}

.buttonWrapper {
  margin-top: 1rem;
  width: 20rem;
}

.checkBox {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  transform: translateY(0.2rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.checkBox img {
  height: 0.7rem;
}

.remeberInfo p {
  padding-top: 7px;
}

.buttonWrapper > div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card > div:last-child {
  display: flex;
  justify-content: space-between;
}

.card input {
	margin-bottom: 2rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login > div:last-child p {
  font-size: 1.2rem;
  color: var(--white-color);
}

.info {
	margin-top: 2rem;
}

.info p {
  font-size: 1.2rem !important;

  color: var(--gray-color) !important;
}

/* @media (max-width: 650px) {
  .login {
    margin: 0 2.5rem;
  }

  .card {
    padding: 2.5rem;
  }

  .login h3 {
    font-size: 2.2rem;
  }

  .info p {
    font-size: 1rem !important;
  }
} */

@media (max-width: 900px) {
  .login {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 5rem 3rem;
    gap: 5rem;
    /* padding-top: 10rem; */
  }

  .closeWrapper {
    display: none;
  }

  .left {
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .right {
    height: max-content;
    border-radius: 2.5rem 2.5rem 0 0;
    width: 100%;
  }
}
