.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errormessagecontainer {
  background-color: #ffcccc;
  color: red;
  border: 1px solid red;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.messagecontainer {
  background-color: #ccffcc;
  color: green;
  border: 1px solid green;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.card {
  background: radial-gradient(
    64.62% 74.22% at 26.36% 14.29%,
    #1a1a1a 0%,
    #151515 50%,
    #101010 100%
  );
  border-radius: 25px;
  width: 100%;
  max-width: 53rem;
  padding: 5rem;
}

.login img {
  height: 3rem;
}

.login h3 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.remeberInfo {
	margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.remeberInfo > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.checkBox {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  transform: translateY(0.2rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.checkBox img {
  height: 0.7rem;
}

.login > div > div:nth-child(2) {
  margin-bottom: 2rem;
}

.login > div > div:nth-child(5) {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.card > div:last-child {
  display: flex;
  justify-content: space-between;
}

.card input {
	margin-bottom: 2rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login > div:last-child p {
  font-size: 1.2rem;
  color: var(--white-color);
}

.info {
	margin-top: 2rem;
}

.info p {
  font-size: 1.2rem !important;

  color: var(--gray-color) !important;
}

@media (max-width: 650px) {
  .login {
    margin: 0 2.5rem;
  }

  .card {
    padding: 2.5rem;
  }

  .login h3 {
    font-size: 2.2rem;
  }

  .info p {
    font-size: 1rem !important;
  }
}
