.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.price_box{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.main_info{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo{
    width: 3.5rem;
}

.currency{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.42);
}

.abbr{
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

.positive{
    color: rgb(13, 180, 13);
}

.negative{
    color: rgb(213, 0, 0);
}