.section {
  margin-top: 20rem;
}

.section > div:first-child > div:first-child {
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  font-size: 1.6rem;

  max-width: 75rem;
  margin: auto;
  line-height: 140%;
  color: var(--gray-color);
}

.section img {
  width: 100%;
  margin-top: 5rem;
}

@media (max-width: 900px) {
  .description {
    text-align: left;
  }

  .section {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section > div:first-child {
    order: 2;
  }
}

@media (max-width: 600px) {
  .section br {
    display: none;
  }
}
